body {
    background-color:white;
    font-family: Arial,sans-serif;
}
td {
    vertical-align: top;
    }
#worksheet {
    float: left;
    width: 400px;
}
#diagram {
    float: left;
}
#downloads {
	float: left;
}
#tables {
    float: left;
}
p.dev {
    clear: both;
    padding: 1em;
}
dt,dd {
    margin:5px;
}
dl.alternative > dd {
    display: none;
	border-left: 2px solid #aaa;
}
dl.alternative > dt {
    display: inline;
    font-size: 0.8em;
}
.selected-alt {
    text-decoration: underline;
}
dd.help {
    display: none;
    font-size: 0.8em;
    border: 2px dashed red;
    padding: 10px;
}
table.foundfrets {
	border-collapse: collapse;
}
table.foundfrets td {
	border:1px solid black;padding: 0px 5px 0px 5px;
}
.help dt {
    font-weight: bold;
}
.help dd {
    padding-left: 10px;
}
input {
    width: 100px;
}
.experimental {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
